<form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
    <label>Nom</label>
    <input type="text" class="form-control" required [(ngModel)]="utilisateur['nom']" 
    name="Nom"/>
    
    <label>Prenom</label>
    <input type="text" class="form-control" required
     [(ngModel)]="utilisateur['prenom']" name="Prenom"/>

    <label>Email</label>
    <input type="text" class="form-control" required [(ngModel)]="utilisateur['email']" 
    name="email"/>
    
    <label>Mot de Passe</label>
    <input type="password" class="form-control" required
     [(ngModel)]="utilisateur['password']" name="password"/>
     <input type="submit" value="S'inscrire'"/>
</form>