<div *ngIf="!(user|async)">
<h1>En vous connectant, découvrez nos :</h1>
    <div class="card-body-category-disconnected">
        <div *ngFor="let categorie of categories" class="card">
            <h3 class="card">{{categorie}}</h3>
        </div>
    </div>
</div>
<div *ngIf="(user|async)">
    <div class="card-body-category">
        <div *ngFor="let categorie of categories" class="card">
            <p class="card">
                <input type="button" class="categorieConnecter" value="Allez vite découvrire nos {{categorie}}"
                    (click)="produitsParCategorie(categorie)" />
            </p>
        </div>
    </div>
</div>